
body,html{margin:0;
}
h1{
   color:white; 
   font-size: 4em;
   margin-top: 2.5px;
   text-align:center;
   align-self: center;
   margin:0;
   text-shadow: 2px 2px 2px rgba(0, 0,0, 5);
}
.header{
background-image: url("../res1/Autumn-Leaves-l.jpg");
height: 400px;
box-shadow: 0px 4px 4px rgba(0, 0,0, 5);
background-size: cover;
display:flex;
justify-content:center;
margin-bottom: 100px;

}

h2{ color:darkred;
font-size:4em ;
text-shadow: 1px 2px 2px rgba(0, 0,0, 5);
margin-left: 50px;}

.subtitle{
font-size: 1.75em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#articles{
    width :80%;
    margin:auto;
    box-sizing: border-box;  
}

.article:hover{
    outline: 6px solid black;
    outline-offset: -6px;
    transition: all 0.5s;   
}
p{
    font-size: 1em;
    text-align: justify;

}

.article {
    margin:auto;
    display:inline-block;
    margin-bottom: 4px;
    width:450px;
    height: 240px;
    padding:30px;
    overflow:auto;
}
.light_color{
    background-color: lightgoldenrodyellow;
   color:maroon;  
}
.dark_color { 
   background-color:maroon;
   color:lightgoldenrodyellow;  
}
